/* styles/globals.css */
html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f0f2f5;
}
.ant-layout {
  min-height: 100%;
}
